<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default"
						  value="Registracija" disabled=true/>
						  
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)  
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var $email = $('form input[name="Email'); 
		document.getElementById("Email").addEventListener("keyup", function (){
				if ($email.val() == '' || !emailRegex.test($email.val())){
					console.log("ni ok");
					document.getElementById("Register").disabled = true;
					document.getElementById("EmailValidate").className += "glyphicon glyphicon-remove";
				} else {
					console.log("ok");
					document.getElementById("EmailValidate").className += "glyphicon glyphicon-ok";
					if (tags.includes(document.getElementById("City").value)){
						document.getElementById("Register").disabled = false;
					}
				}
		});
		var tabela = [1000,1001,1210,1211,1215,1216,1217,1218,1219,1221,1222,1223,1225,1230,1231,1233,1234,1235,1236,1241,1242,1251,1252,1260,1261,1262,1270,1272,1273,1274,1275,1276,1281,1282,1290,1291,1292,1293,1294,1295,1296,1301,1303,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1330,1331,1332,1336,1337,1338,1351,1352,1353,1354,1355,1356,1357,1358,1360,1370,1371,1372,1373,1380,1381,1382,1384,1385,1386,1410,1411,1412,1413,1414,1420,1423,1430,1431,1432,1433,1434,2000,2001, 2201,2204,2205,2206,2208,2211,2212,2213,2214,2215,2221,2222,2223,2229,2230,2231,2232,2233,    2234,2235,   2236,2241,2242,2250,2252,2253,2254,2255,2256,2257,2258,2259,2270,2272,2273,2274,2275,2276,2277,2281,2282,2283,2284,2285,2286,2287,2288,2289,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2321,2322,2323,2324,2325,2326,2327,2331,2341,2342,2343,2344,2345,2351,2352,2353,2354,2360,2361,2362,2363,2364,2365,2366,2367,2370,2371,2372,2373,2380,2381,2382,2383,2390,2391,2392,2393,2394,3000,3001, 3201,3202,3203,3205,3206,3210,3211,3212,3213,3214,3215,3220,3221,3222,3223,3224,3225,3230,3231,3232,3233,3240,3241,3250,3252,3253,3254,3255,3256,3257,3260,3261,3262,3263,3264,3270,3271,3272,3273,3301,3302,3303,3304,3305,3310,3311,3312,3313,3314,3320,3322,  3325,3326,3327,3330,3331,3332,3333,3334,3335,3341,3342,4000,4001, 4201,4202,4203,4204,4205,4206,4207,4208,4209,4210,4211,4212,4220,4223,4224,4225,4226,4227,4228,4229,4240,4243,4244,4245,4246,4247,4248,4260,4263,4264,4265,4267,4270,4273,4274,4275,4276,4280,4281,4282,4283,4290,4294,5000,5001,  5210,5211,5212,5213,5214,5215,5216,5220,5222,5223,5224,5230,5231,5232,5242,5243,5250,5251,5252,5253,5261,5262,5263,5270,5271,5272,5273,5274,5275,5280,5281,5282,5283,5290,5291,5292,5293,5294,5295,5296,5297,6000,6001,  6210,6215,6216,6217,6219,6221,6222,6223,6224,6225,6230,6232,6240,6242,6243,6244,6250,6251,6253,6254,6255,6256,6257,6258,6271,6272,6273,6274,6275,6276,6280,6281,6310,6320,6330,6333,8000,8001,8210,8211,8212,8213,8216,8220,8222,8230,8231,8232,8233,8250,8251,8253,8254,8255,8256,8257,8258,8259,8261,8262,8263,8270,8272,8273,8274,8275,8276,8280,8281,8282,8283,8290,8292,8293,8294,8295,8296,8297,8310,8311,8312,8321,8322,8323,8330,8331,8332,8333,8340,8341,8342,8343,8344,8350,8351,8360,8361,8362,9000,9001,   9201,9202,9203,9204,9205,9206,9207,9208,9220,9221,9222,9223,9224,9225,9226,9227,9231,9232,9233,9240,9241,9242,9243,9244,9245,9250,9251,9252,9253,9261,9262,9263,9264,9265];
		
		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}
			if (tags.includes(document.getElementById("City").value)){
				document.getElementById("Country").value = "Slovenija";
				var indeks = tags.indexOf((document.getElementById("City").value));
				document.getElementById("PostalCode").value = tabela[indeks];
				
				if ($email.val() == '' || !emailRegex.test($email.val())){
		
				} else {
					document.getElementById("Register").disabled = false;
				}
			}
		});

		var tags = ["Ljubljana","Ljubljana – P.P.","Ljubljana – Šentvid","Ljubljana – Šmartno","Medvode","Smlednik","Vodice","Komenda","Laze v Tuhinju","Motnik","Trojane","Blagovica","Lukovica","Domžale","Ljubljana – Črnuče","Dob","Mengeš","Radomlje","Trzin","Kamnik","Stahovica","Moravče","Vače","Ljubljana – Polje","Ljubljana – Dobrunje","Dol pri Ljubljani","Litija","Polšnik","Dole pri Litiji","Gabrovka","Šmartno pri Litiji","Primskovo","Kresnice","Sava","Grosuplje","Škofljica","Ig","Šmarje – Sap","Višnja Gora","Ivančna Gorica","Šentvid pri Stični","Krka","Zagradec","Ribnica","Turjak","Videm – Dobrepolje","Struge","Rob","Velike Lašče","Ortnek","Sodražica","Loški Potok","Draga","Kočevje","Dolenja vas","Stara Cerkev","Kostel","Osilnica","Kočevska Reka","Brezovica pri Ljubljani","Preserje","Borovnica","Horjul","Polhov Gradec","Dobrova","Notranje Gorice","Log pri Brezovici","Vrhnika","Logatec","Logatec","Hotedršica","Rovte","Cerknica","Rakek","Begunje pri Cerknici","Grahovo","Nova vas","Stari trg pri Ložu","Zagorje ob Savi","Izlake","Kisovec","Čemšenik","Podkum","Trbovlje","Dobovec","Hrastnik","Dol pri Hrastniku","Zidani Most","Radeče","Loka pri Zidanem Mostu","Maribor","Maribor – P.P.","Zgornja Kungota","Miklavž na Dravskem polju","Starše","Marjeta na Dravskem polju","Pohorje","Pesnica pri Mariboru","Šentilj v Slovenskih goricah","Zgornja Velka","Sladki Vrh","Ceršak","Jarenina","Jakobski Dol","Jurovski Dol","Malečnik","Lenart v Slovenskih goricah","Pernica","Voličina","Sv. Ana v Slovenskih goricah","Benedikt","Sv. Trojica v Slovenskih goricah","Cerkvenjak","Spodnji Duplek","Zgornja Korena","Ptuj","Dornava","Destrnik","Trnovska vas","Vitomarci","Juršinc","Polenšak","Sveti Tomaž","Ivanjkovci","Ormož","Gorišnica","Podgorci","Velika Nedelja","Miklavž pri Ormožu","Kog","Središče ob Dravi","Markovci","Cirkulane","Zavrč","Videm pri Ptuju","Zgornji Leskovec","Podlehnik","Žetale","Hajdina","Stoperce","Slovenska Bistrica","Hoče","Orehova vas","Fram","Zgornja Polskava","Šmartno na Pohorju","Zgornja Ložnica","Oplotnica","Laporje","Poljčane","Makole","Majšperk","Ptujska Gora","Lovrenc na Dravskem polju","Kidričevo","Cirkovce","Rače","Pragersko","Limbuš","Ruše","Fala","Lovrenc na Pohorju","Bistrica ob Dravi","Kamnica","Selnica ob Dravi","Sveti Duh na Ostrem Vrhu","Bresternica","Radlje ob Dravi","Ožbalt","Kapla","Podvelka","Ribnica na Pohorju","Vuhred","Muta","Vuzenica","Dravograd","Trbonje","Libeliče","Šentjanž pri Dravogradu","Slovenj Gradec","Podgorje pri Slovenj Gradcu","Mislinja","Šmartno pri Slovenj Gradcu","Ravne na Koroškem","Prevalje","Mežica","Črna na Koroškem","Kotlje","Celje","Celje – P.P.","Šmartno v Rožni dolini","Ljubečna","Nova Cerkev","Vitanje","Stranice","Slovenske Konjice","Škofja vas","Vojnik","Frankolovo","Zreče","Loče","Štore","Teharje","Dramlje","Loka pri Žusmu","Dobje pri Planini","Planina pri Sevnici","Šentjur","Grobelno","Ponikva","Kalobje","Šmarje pri Jelšah","Podplat","Rogaška Slatina","Rogatec","Pristava pri Mestinju","Podčetrtek","Buče","Bistrica ob Sotli","Podsreda","Kozje","Lesično","Prevorje","Gorica pri Slivnici","Sveti Štefan","Laško","Šentrupert","Rimske Toplice","Jurklošter","Petrovče","Griže","Gomilsko","Tabor","Vransko","Žalec","Šempeter v Savinjski dolini","Prebold","Polzela","Braslovče","Velenje","Velenje – P.P.","Šoštanj","Topolšica","Šmartno ob Paki","Mozirje","Nazarje","Rečica ob Savinji","Ljubno ob Savinji","Luče","Solčava","Šmartno ob Dreti","Gornji Grad","Kranj","Kranj – P.P.","Zgornja Besnica","Naklo","Duplje","Golnik","Preddvor","Zgornje Jezersko","Cerklje na Gorenjskem","Šenčur","Žabnica","Brnik – Aerodrom","Mavčiče","Visoko","Škofja Loka","Poljane nad Škofjo Loko","Gorenja vas","Sovodenj","Žiri","Selca","Železniki","Sorica","Radovljica","Brezje","Podnart","Kropa","Kamna Gorica","Zgornje Gorje","Lesce","Bled","Bohinjska Bela","Bohinjska Bistrica","Bohinjsko jezero","Srednja vas v Bohinju","Jesenice","Blejska Dobrava","Žirovnica","Begunje na Gorenjskem","Hrušica","Kranjska Gora","Mojstrana","Gozd Martuljek","Rateče – Planica","Tržič","Križe","Nova Gorica","Nova Gorica – P.P.","Deskle","Kojsko","Dobrovo v Brdih","Kanal","Kal nad Kanalom","Ročinj","Most na Soči","Tolmin","Kobarid","Breginj","Srpenica","Bovec","Log pod Mangartom","Soča","Grahovo ob Bači","Podbrdo","Solkan","Grgar","Trnovo pri Gorici","Čepovan","Šempas","Črniče","Dobravlje","Ajdovščina","Vipava","Podnanos","Col","Črni Vrh nad Idrijo","Godovič","Idrija","Spodnja Idrija","Cerkno","Slap ob Idrijci","Šempeter pri Gorici","Miren","Renče","Volčja Draga","Dornberk","Branik","Kostanjevica na Krasu","Prvačina","Koper/Capodistria","Koper/Capodistria – P.P.","Sežana","Divača","Podgorje","Vremski Britof","Lokev","Dutovlje","Štanjel","Komen","Senožeče","Hruševje","Postojna","Planina","Kozina","Materija","Obrov","Podgrad","Ilirska Bistrica","Ilirska Bistrica-Trnovo","Knežak","Jelšane","Prem","Košana","Pivka","Prestranek","Dekani","Gračišče","Marezige","Šmarje","Črni Kal","Pobegi","Ankaran/Ancarano","Škofije","Izola/Isola","Portorož/Portorose","Piran/Pirano","Sečovlje/Sicciole","Novo mesto","Novo mesto – P.P.","Trebnje","Dobrnič","Velika Loka","Veliki Gaber","Mirna Peč","Šmarješke Toplice","Otočec","Mokronog","Trebelno","Šentrupert","Mirna","Brežice","Čatež ob Savi","Artiče","Globoko","Pišece","Sromlje","Dobova","Kapele","Bizeljsko","Jesenice na Dolenjskem","Krška vas","Cerklje ob Krki","Krško","Zdole","Leskovec pri Krškem","Raka","Škocjan","Bučka","Brestanica","Senovo","Koprivnica","Blanca","Sevnica","Zabukovje","Studenec","Boštanj","Tržišče","Krmelj","Šentjanž","Šentjernej","Kostanjevica na Krki","Podbočje","Brusnice","Stopiče","Uršna sela","Metlika","Suhor","Gradac","Semič","Črnomelj","Adlešiči","Stari trg ob Kolpi","Dragatuš","Vinica","Dolenjske Toplice","Straža","Žužemberk","Dvor","Hinje","Murska Sobota","Murska Sobota – P.P.","Puconci","Mačkovci","Petrovci","Šalovci","Hodoš/Hodos","Križevci","Prosenjakovci/Partosfalva","Fokovci","Lendava/Lendva","Martjanci","Bogojina","Dobrovnik/Dobronak","Turnišče","Velika Polana","Moravske Toplice","Kobilje","Beltinci","Črenšovci","Odranci","Ljutomer","Veržej","Križevci pri Ljutomeru","Mala Nedelja","Sveti Jurij ob Ščavnici","Spodnji Ivanjci","Gornja Radgona","Tišina","Radenci","Apače","Cankova","Rogašovci","Kuzma","Grad","Bodonci"]
		$( "#City" ).autocomplete({
		source: function( request, response ) {
	          var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
	          response( $.grep( tags, function( item ){
	            return matcher.test( item );
	          }) );
	      }
		});
});

	

</script>
</body>
</html>